//- bootstrap.jade
//- bootstrap mixins
//- Including Icon mixins
include pug-bootstrap/components/icons
//- Including Alert mixins
include pug-bootstrap/components/alerts
//- Including Tooltip mixins
include pug-bootstrap/components/tooltips
//- Including Accordion mixins
include pug-bootstrap/components/accordion
//- Including Carousel mixins
include pug-bootstrap/components/carousel
//- Including Table mixins
include pug-bootstrap/components/tables
//- Including Navbar mixins
include pug-bootstrap/components/navbar
//- Including Toggle Button mixins
include pug-bootstrap/components/toggle
//- Including Nav mixins
include pug-bootstrap/components/navs
//- Including Label mixins
include pug-bootstrap/components/labels
//- Including Panel mixins
include pug-bootstrap/components/panels
//- Including Tab mixins
include pug-bootstrap/components/tabs
//- Including Dropdown mixins
include pug-bootstrap/components/dropdowns
//- Including Form control mixins
include pug-bootstrap/components/forms
//- Including Modal dialog mixins
include pug-bootstrap/components/modal
//- Including List group mixins
include pug-bootstrap/components/list-groups
//- Including Progress bar mixins
include pug-bootstrap/components/progress-bars
//- Including Button mixins
include pug-bootstrap/components/buttons
//- Including Image mixins
include pug-bootstrap/components/images
//- Including Bootswatch theme mixins
include pug-bootstrap/components/bootswatch

doctype html
html(lang="en")
	head
		block head
			meta(charset="UTF-8")
			meta(http-equiv="X-UA-Compatible", content="IE=edge")
			meta(name="viewport",content="width=device-width, initial-scale=1")
			meta(name="description",content="Team project from TelerikAcademy course NodeJS.")
			meta(name="author",content="purlantov")
			link(rel="icon",href="../../favicon.ico")
			title= title
			block styles
				link(rel="stylesheet",href="css/bootstrap.min.css")
	body(data-spy="scroll",data-target=".scrollspy")
		block body
		block scripts
			script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")