extends main
block content
	.container
		.row
			.col-lg-12.text-center
				h1 
					| You have signed in successfuly
				p.lead 
					| Welcome
				ul.list-unstyled
					li 
						| Bootstrap v3.3.7
					li 
						| jQuery v1.11.1