extends main
block content
    form(action="/games/search" mathod="POST")
        input.form-control(name="text" required type="text" placeholder="Search")
        button.btn.btn-success
            | Search
    .container
        .row
            div.col-lg-12
                h1.page-header=game.title
                    small  price #{game.price}
        .row
            .col-md-8
                img(src=game.image) 
            .col-md-4
                h3 Description
                p=game.description               
        a(class='button' href='/games') Back