extends main
block content
    form(action="/games/search" mathod="POST")
        input.form-control(name="text" required type="text" placeholder="Search")
        button.btn.btn-success
            | Search
    .container
        p=game.title
        p=game.price
        img(src=game.image)
        p=game.description
        
        a(class='button' href='/games') Back