extends main
block content
	.container
		.row
			.col-lg-12.text-center
				h1 
					| A Bootstrap Starter Template
				p.lead 
					| Complete with pre-defined file paths that you won't have to change!!
				ul.list-unstyled
					li 
						| Bootstrap v3.3.7
					li 
						| jQuery v1.11.1