extends main
block content
	.container
		.row
			.col-lg-12.text
				h1
					a#GameStore_0
					| GameStore
				p
					em Teamwork project
				p
					a(href='http://78.90.245.184:8080/job/GameStoreApp/')
						img(src='http://78.90.245.184:8080/buildStatus/icon?job=GameStoreApp', alt='Build Status')
				h3
					a#Team_Access_Denied__TelerikAcademy_Season_8_5
					| Team Access Denied - TelerikAcademy Season 8
				h4
					a#Members_7
					| Members:
				ul
					li
						p
							a(href='https://github.com/boda66') Daniel Mitkov
					li
						p
							a(href='https://github.com/purlantov') Pavel Purlantov

				hr
				h3
					a#Criteria_linkCourseProjectCriteriamd_17
					| Criteria 
					a(href='https://github.com/Team-AccessDenied-NodeJS/GameStore/blob/master/CourseProjectCriteria.md') link
				hr
				h3
					a#Description_21
					| Description
				p
					| This is teamwork project assign by TelerikAcademy as part of NodeJS course.
					br
					| Project represents GameStore site where you can choose game/games and buy it/them.
					br
					| Back-end works with NodeJS, Express and MongoDB.
					br
					| There is public and private part.
					br
					| Rendering engine is Pug
				hr
				h3
					| Tests
				p
					| We have unit, integration and browser tests
				hr
				h3
					| Deployment
				p
					| Project is deployet at Amazon Web Services
				hr
				h3
					| Continious integration
				p
					| Achieved with Jenkins
