//- bootstrap.jade
//- bootstrap mixins
//- Including Icon mixins
include pug-bootstrap/components/icons
//- Including Alert mixins
include pug-bootstrap/components/alerts
//- Including Tooltip mixins
include pug-bootstrap/components/tooltips
//- Including Accordion mixins
include pug-bootstrap/components/accordion
//- Including Carousel mixins
include pug-bootstrap/components/carousel
//- Including Table mixins
include pug-bootstrap/components/tables
//- Including Navbar mixins
include pug-bootstrap/components/navbar
//- Including Toggle Button mixins
include pug-bootstrap/components/toggle
//- Including Nav mixins
include pug-bootstrap/components/navs
//- Including Label mixins
include pug-bootstrap/components/labels
//- Including Panel mixins
include pug-bootstrap/components/panels
//- Including Tab mixins
include pug-bootstrap/components/tabs
//- Including Dropdown mixins
include pug-bootstrap/components/dropdowns
//- Including Form control mixins
include pug-bootstrap/components/forms
//- Including Modal dialog mixins
include pug-bootstrap/components/modal
//- Including List group mixins
include pug-bootstrap/components/list-groups
//- Including Progress bar mixins
include pug-bootstrap/components/progress-bars
//- Including Button mixins
include pug-bootstrap/components/buttons
//- Including Image mixins
include pug-bootstrap/components/images
//- Including Bootswatch theme mixins
include pug-bootstrap/components/bootswatch

doctype html
html(lang="en")
	head
		block head
			meta(charset="UTF-8")
			meta(http-equiv="X-UA-Compatible", content="IE=edge")
			meta(name="viewport",content="width=device-width, initial-scale=1")
			meta(name="description",content="Team project from TelerikAcademy course NodeJS.")
			meta(name="author",content="purlantov")
			link(rel="icon",href="../../favicon.ico")
			script(src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous")
			title= title
			style.
				body{
					padding-top:70px;
				} 
			block styles
				link(rel="stylesheet",href="css/bootstrap.min.css")
	body
		block body
			nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
				.container
					// Brand and toggle get grouped for better mobile display
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='/') GameStore
					// Collect the nav links, forms, and other content for toggling
					.collapse.navbar-collapse#bs-example-navbar-collapse-1
						ul.nav.navbar-nav
							li
								a(href='about') About
							li
								a(href='games') Games
							li
								a(href='#') Contact
			block content